.catalog {
  @include indent;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 52px;
  background-color: $color__bg--lightest-grey;
}

.catalog__wrapper {
  @include size-width($mobile-size, $mobile-indent);
}

.catalog__head {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog__head-heading {
  @include indent;
  @include font-text(700, 24px, 36px);
  order: 2;
  text-align: center;
  margin-bottom: 20px;
}

.catalog__head-name {
  @include indent;
  @include font-text(700, 12px, 18px);
  order: 1;
  text-transform: uppercase;
  color: $color__base--primary;
  margin-bottom: 4px;
}

.catalog__filters {
  display: flex;
  flex-direction: column;
}

.catalog__filters-price {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.catalog__filters-price-name {
  @include indent;
  @include font-text(600, 16px, 24px);
  margin-bottom: 22px;
}

.catalog__filters-legend {
  @include indent;
  @include font-text(600, 16px, 24px);
  margin-bottom: 22px;
}

.catalog__filters-range-controls {
  margin-bottom: 32px;
  flex: 1;
}

.catalog__filters-range-inputs {
  min-width: 100%;
  @include indent;
  position: relative;
  display: flex;
  justify-content: space-between;

  &::before {
    @include size(10, 2);
    content: "";
    background-color: $color__base--grey;
    position: absolute;
    top: 50%;
    left: 48%;
  }
}

.catalog__filters-milk {
  margin-bottom: 22px
}

.catalog__filters-milk-name {
  @include indent;
  @include font-text(600, 16px, 24px);
  margin-bottom: 22px
}

.catalog__filters-country {
  margin-bottom: 33px;
}

.catalog__filters-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

// .catalog__products {
// }

// .catalog__products-sorting {
// }
// .catalog__products-list {
// }

// .catalog__products-item {
// }

// .catalog__pagination {
// }
