@font-face {
  @include font($font-name, $font-url);
}

@font-face {
  @include font($font-name, $font-url--semibold, 600);
}

@font-face {
  @include font($font-name, $font-url--bold, 700);
}
// TODO 500, 800
