@mixin font($font, $src, $font-weight: normal, $font-style: normal) {
  font-family: "#{$font}";
  src: url("../fonts/#{$src}.woff2") format("woff2"),
    url("../fonts/#{$src}.woff") format("woff");
  font: {
    weight: $font-weight;
    style: $font-style;
    display: swap;
  }
}

@mixin font-global($font) {
  font: {
    family: $font, $specify-families;
    style: normal;
    weight: normal;
    size: 15px;
  }
  line-height: 24px;
  color: $base-color;
}

@mixin visually-hidden() {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

